body {
    background-color: #000000;
}

.tabLinkColor a {
    color: #FFFFFF;
}

.tabLinkColor a:active {
    color: #000000;
    outline: none;
}

.tabLinkColor a:hover {
    color: #000000;
    outline: none;
}

.tabLinkColor a:focus {
    color: #000000;
    outline: none;

}

img {
    padding: 0;
    margin: 0;
}


.panel {
    width: 100%;
    position: absolute;
    padding:0;
    margin: 0;
    border: 0;
    background-color: #0E4D30;
    z-index: 3;
    align-content: center;
}

.close-button {
    color: #ffffff;
    position: relative;
    font-size:30px;
    padding: 5px;
    margin: 0;
}

.close-button:active {
    color: #ffffff;
    position: relative;
    font-size:30px;
    padding: 5px;
    margin: 0;
}