body {
    background-color: #000000;
}

.tabLinkColor a {
    color: #FFFFFF;
}

.tabLinkColor a:hover {
    color: #000000;
    text-decoration: none;
}

img {
    padding: 0;
    margin: 0;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}